export(calcSampleValue,
	calcColorPurity,
	genCalCols,
	getGamutValues,
	getWhiteValues,
	plotCIEchrom,
	plotSampleCard,
	prepCIEgradient,
	selectCIExy,
	showRGBcalibration,
	showCIEcalibration,
	runAllCal)
import(munsell, princurve, grid, splancs, rgl, plyr, aqp, digest)
importFrom(colorspace, hex2RGB)