export(calcSampleValue,
	calcColorPurity,
	genManyCols,
	gen5cols,
	getGamutValues,
	getWhiteValues,
	plotCIEchrom,
	plotLargeCard,
	plotMiniCard,
	prepCIEgradient,
	selectCIExy,
	showRGBcalibration,
	showCIE,
	runAllCal)
import(munsell, princurve, grid, splancs, rgl, plyr, aqp, digest)
importFrom(colorspace, hex2RGB)