export(computeSampleAbs,
	genCalCols,
	getGamutValues,
	getWhiteValues,
	plotCIEchrom,
	plotSampleCard,
	prepCIEgradient,
	selectCIExy,
	showCalColSpace)
import(munsell, princurve, grid, splancs, rgl, knitr, plyr, aqp)